html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  background-color: #000000;
}
.wrapper-light-theme {
  background-color: #ffffff;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.center {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
:root {
  --color-gold: #bdae82;
  --font1: 60px;
  --font2: 40px;
  --font3: 20px;
}
@mixin images {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
@mixin btn-gold {
  border: 0;
  background-color: var(--color-gold);
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font3);
  line-height: 40px;
  text-align: center;
  width: 220px;
  height: 55px;
}
@mixin btn-transparent {
  border: 2px solid var(--color-gold);
  background-color: transparent;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font3);
  line-height: 40px;
  text-align: center;
  color: var(--color-gold);
  width: 220px;
  height: 55px;
}

@mixin title {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 48.612%;
  margin: 0 auto;
  span {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font2);
    line-height: 80px;
    text-align: center;
    color: var(--color-gold);
    display: inline-block;
    padding: 0 20px;
  }
  span:before,
  span:after {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2px solid var(--color-gold);
    top: 50%;
  }
  span:before {
    margin-left: -103%;
  }
  span:after {
    margin-left: 3%;
  }
}
@mixin title-light-theme {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 48.612%;
  margin: 0 auto;
  span {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font2);
    line-height: 80px;
    text-align: center;
    color: #1c1c1c;
    display: inline-block;
    padding: 0 20px;
  }
  span:before,
  span:after {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2px solid #1c1c1c;
    top: 50%;
  }
  span:before {
    margin-left: -103%;
  }
  span:after {
    margin-left: 3%;
  }
}

.header {
  background: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 90px;
  .info-header {
    display: flex;
    align-items: center;
    .logo {
      background-image: url("../assets/svg/logo\ 1.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      transition: 1s;
    }
    .logo:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
        brightness(92%) contrast(87%);
    }
    .nav {
      margin-left: auto;
      .nav-list {
        display: flex;
        list-style: none;
        margin: 20px 0;
        .nav-item {
          .nav-link {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: var(--font3);
            line-height: 50px;
            color: #ffffff;
            text-decoration: none;
            margin-right: 30px;
            transition: 1s;
          }
          .nav-link:hover {
            color: var(--color-gold);
          }
        }
      }
    }
    .language {
      margin-left: 1px;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: var(--font3);
      line-height: 50px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      .active-lang {
        color: var(--color-gold);
      }
    }
    .switcher {
      background-image: url(../assets/svg/sun.svg);
      background-repeat: no-repeat;
      background-position: center 0;
      height: 45px;
      width: 45px;
      margin-left: 35px;
      padding-left: 2px;
      cursor: pointer;
      transition: 1s;
    }
    .switcher:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
        brightness(92%) contrast(87%);
    }
    .navbar {
      .nav-list {
        display: none;
      }
    }
  }
}
.header-light-theme {
  background: url(../assets/img/bg-lt.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  .info-header {
    .logo {
      background-image: url(../assets/svg/logo-lt.svg);
    }
    .logo:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
        brightness(92%) contrast(87%);
    }
    .nav {
      .nav-list {
        .nav-item {
          .nav-link {
            color: #1c1c1c;
          }
          .nav-link:hover {
            color: var(--color-gold);
          }
        }
      }
    }
    .language {
      color: #1c1c1c;
      .active-lang {
        color: #ffffff;
      }
    }
    .switcher {
      background-image: url(../assets/svg/moon.svg);
    }
    .switcher:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
        brightness(92%) contrast(87%);
    }
  }
}

.main {
  .hero {
    background-image: url("../assets/img/bg.jpg");
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
    margin-bottom: 100px;
    .content-hero {
      width: 34.7%;
      padding-top: 160px;
      padding-left: 80px;
      .photographer {
        font-family: "Merriweather", serif;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 120px;
        color: #ffffff;
        margin: 0;
      }
      .text-hero {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        color: #ffffff;
        margin: 10px 30px 25px 0;
      }
      .btn-hero {
        @include btn-gold;
        transition: 1s;
      }
      .btn-hero:hover,
      .btn-hero:focus {
        color: #ffffff;
        box-shadow: 0 0 0 1em rgba(189, 174, 130, 0.3);
        animation: pulse 1s;
      }
    }
  }
  .hero-light-theme {
    background-image: url(../assets/img/bg-lt.jpg);
    .content-hero {
      .photographer {
        color: #1c1c1c;
      }
      .text-hero {
        color: #1c1c1c;
      }
      .btn-hero {
        @include btn-gold;
        background-color: #ffffff;
        color: #1c1c1c;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: 1s;
      }
      .btn-hero:hover,
      .btn-hero:hover {
        background-color: #1c1c1c;
        color: var(--color-gold);
        box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.5);
        transform: translatey(-0.65em);
      }
    }
  }
  .skills {
    .title {
      @include title;
      margin-bottom: 60px;
    }
    .skills-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 102px;
      .item-skills {
        background-position: center top;
        background-repeat: no-repeat;
        width: 22.85%;
        .title-skills {
          margin-top: 100px;
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: var(--font3);
          line-height: 40px;
          text-align: center;
          color: #ffffff;
        }
        .description-skills {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 36px;
          text-align: center;
          color: #ffffff;
          margin: 0 20px 8px 20px;
        }
      }
      .item-skills:nth-child(1) {
        background-image: url("../assets/svg/camera.svg");
        background-size: 62px 50px;
      }
      .item-skills:nth-child(2) {
        background-image: url("../assets/svg/video.svg");
        background-size: 60px 50px;
      }
      .item-skills:nth-child(3) {
        background-image: url("../assets/svg/image.svg");
        background-size: 66px 50px;
      }
      .item-skills:nth-child(4) {
        background-image: url("../assets/svg/mic.svg");
        background-size: 32px 50px;
      }
    }
  }
  .skills-light-theme {
    .title {
      @include title-light-theme;
      margin-bottom: 60px;
    }
    .skills-container {
      .item-skills {
        .title-skills {
          color: #1c1c1c;
        }
        .description-skills {
          color: #1c1c1c;
        }
      }
    }
  }
  .portfolio {
    .title {
      @include title;
      margin-bottom: 60px;
    }
    .group-btn {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: center;
      margin-bottom: 60px;
      .btn-portfolio-transp {
        @include btn-transparent;
        transition: 1s;
      }
      .active {
        color: #000;
        background-color: #bdae82;
      }
      .btn-portfolio-transp:hover,
      .btn-portfolio-transp:focus {
        color: #ffffff;
        box-shadow: inset 0 0 0 2em rgba(189, 174, 130, 0.3);
      }
    }
    .container-imgs {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;
      margin-bottom: 100px;
      .item-portfolio {
        width: 32%;
        height: 560px;
      }
    }
  }
  .portfolio-light-theme {
    .title {
      @include title-light-theme();
      margin-bottom: 60px;
    }
    .group-btn {
      .btn-portfolio-transp {
        @include btn-gold;
        color: #1c1c1c;
        transition: 1s;
      }
      .btn-portfolio-transp:hover,
      .btn-portfolio-transp:focus {
        color: #ffffff;
        box-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0.2);
      }
      .active {
        color: var(--color-gold);
        background-color: #000000;
      }
    }
  }
  .video {
    .title {
      @include title;
      margin-bottom: 60px;
    }
    .video-player {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
      img {
        @include images;
      }
      .btn-play {
        background: transparent;
        border: 0;
        position: absolute;
        cursor: pointer;
        background-image: url("../assets/svg/Play_hover.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 130px;
        height: 130px;
        transition: 1s;
      }
      .btn-play:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
          brightness(92%) contrast(87%);
      }
    }
  }
  .video-light-theme {
    .title {
      @include title-light-theme();
      margin-bottom: 60px;
    }
    .video-player {
      .btn-play {
        background-image: url("../assets/svg/Play_Unvisited.svg");
      }
    }
  }
  .price {
    .title {
      @include title;
      margin-bottom: 60px;
    }
    .cards-price {
      display: flex;
      gap: 25px;
      color: #ffffff;
      margin-bottom: 100px;
      .item-price {
        border: 3px solid var(--color-gold);
        text-align: center;
        padding: 40px;
        width: 33%;
        .title-card {
          font-family: "Merriweather", serif;
          font-style: normal;
          font-weight: bold;
          font-size: 28px;
          line-height: 56px;
          margin: 0 0 20px 0;
        }
        .price-card {
          font-family: "Merriweather", serif;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 48px;
          color: var(--color-gold);
          margin: 0 0 20px 0;
        }
        .description-card {
          display: block;
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 36px;
        }
        .btn-price {
          @include btn-gold;
          transition: 1s;
          margin-top: 40px;
          width: 60.44%;
        }
        .btn-price:hover,
        .btn-price:focus {
          color: #ffffff;
          box-shadow: 0 0 0 1em rgba(189, 174, 130, 0.3);
          animation: pulse 1s;
        }
      }
    }
  }
  .price-light-theme {
    .title {
      @include title-light-theme;
      margin-bottom: 60px;
    }
    .cards-price {
      .item-price {
        color: #1c1c1c;
        .price-card {
          color: #1c1c1c;
        }
        .btn-price {
          color: #1c1c1c;
        }
        .btn-price:hover,
        .btn-price:focus {
          background-color: #1c1c1c;
          color: var(--color-gold);
          box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.5);
          transform: translatey(-0.65em);
        }
      }
    }
  }
  .contacts {
    background: url("../assets/img/contacts-img.jpg");
    background-position: center center;
    height: 700px;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    .content-contacts {
      display: flex;
      flex-direction: column;
      width: 450px;
      margin-top: 60px;
      .title-contacts {
        font-family: "Merriweather", serif;
        font-style: normal;
        font-weight: bold;
        font-size: var(--font2);
        line-height: 80px;
        color: var(--color-gold);
        margin: 0;
        margin-bottom: 40px;
      }
      .input-email,
      .input-tel {
        height: 44px;
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid var(--color-gold);
        padding-left: 20px;
        margin-bottom: 20px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: var(--font3);
        line-height: 40px;
        color: var(--color-gold);
      }
      .input-email::placeholder,
      .input-tel::placeholder,
      .textarea-message::placeholder {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: var(--font3);
        line-height: 40px;
        color: var(--color-gold);
      }
      .textarea-message {
        height: 92px;
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid var(--color-gold);
        padding-left: 20px;
        margin-bottom: 30px;
        resize: none;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: var(--font3);
        line-height: 40px;
        color: var(--color-gold);
      }
      .btn-contacts {
        @include btn-gold;
        transition: 1s;
      }
      .btn-contacts:hover,
      .btn-contacts:focus {
        color: #ffffff;
        box-shadow: 0 0 0 1em rgba(189, 174, 130, 0.3);
        animation: pulse 1s;
      }
    }
  }
  .contacts-light-theme {
    background: url("../assets/img/contacts-lt.jpg");
    .content-contacts {
      .title-contacts {
        color: #1c1c1c;
      }
      .input-email,
      .input-tel {
        background: rgba(255, 255, 255, 0.5);
        color: #1c1c1c;
      }
      .input-email::placeholder,
      .input-tel::placeholder,
      .textarea-message::placeholder {
        color: #1c1c1c;
      }
      .textarea-message {
        background: rgba(255, 255, 255, 0.5);
        color: #1c1c1c;
      }
      .btn-contacts {
        @include btn-gold;
        background-color: #ffffff;
        transition: 1s;
      }
      .btn-contacts:hover,
      .btn-contacts:hover {
        background-color: #1c1c1c;
        color: var(--color-gold);
        box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.5);
        transform: translatey(-0.65em);
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  height: 150px;
  .content-footer {
    display: flex;
    justify-content: space-between;
    .left-content-footer {
      text-decoration: none;
      .link-github {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        .item-link-github {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: var(--font3);
          line-height: 50px;
          color: #ffffff;
          margin-right: 20px;
          transition: 1s;
        }
      }
    }
    .left-content-footer:hover {
      .item-link-github {
        color: var(--color-gold);
      }
    }
    .center-content-footer {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 50px;
      color: #ffffff;
      text-decoration: none;
      margin: 0;
      margin-left: 19px;
      transition: 1s;
    }
    .center-content-footer:hover {
      color: var(--color-gold);
    }
    .social-list {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      .item-social-list {
        margin-left: 20px;
        .link-social-list {
          display: block;
          background-size: contain;
          background-repeat: no-repeat;
          transition: 1s;
          text-decoration: none;
          width: 32px;
          height: 32px;
        }
      }
      .item-social-list:nth-child(1) {
        .link-social-list {
          background-image: url("../assets/svg/inst.svg");
        }
      }
      .item-social-list:nth-child(1) {
        .link-social-list:hover {
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
            brightness(92%) contrast(87%);
        }
      }
      .item-social-list:nth-child(2) {
        .link-social-list {
          background-image: url("../assets/svg/fb.svg");
        }
      }
      .item-social-list:nth-child(2) {
        .link-social-list:hover {
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
            brightness(92%) contrast(87%);
        }
      }
      .item-social-list:nth-child(3) {
        .link-social-list {
          background-image: url("../assets/svg/tw.svg");
        }
      }
      .item-social-list:nth-child(3) {
        .link-social-list:hover {
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
            brightness(92%) contrast(87%);
        }
      }
      .item-social-list:nth-child(4) {
        .link-social-list {
          background-image: url("../assets/svg/pinterest.svg");
        }
      }
      .item-social-list:nth-child(4) {
        .link-social-list:hover {
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
            brightness(92%) contrast(87%);
        }
      }
    }
  }
}
.footer-light-theme {
  .content-footer {
    .left-content-footer {
      .link-github {
        .item-link-github {
          color: #1c1c1c;
        }
      }
    }
    .left-content-footer:hover {
      .item-link-github {
        color: var(--color-gold);
      }
    }
    .center-content-footer {
      color: #1c1c1c;
    }
    .center-content-footer:hover {
      color: var(--color-gold);
    }
    .social-list {
      .item-social-list {
        filter: brightness(0) saturate(100%) invert(8%) sepia(0%) saturate(0%)
          hue-rotate(168deg) brightness(93%) contrast(91%);
        .link-social-list {
          transition: 1s;
        }
      }
      .item-social-list:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
          brightness(92%) contrast(87%);
      }
      .item-social-list:nth-child(1) {
        .link-social-list {
          background-image: url("../assets/svg/inst.svg");
        }
      }
      .item-social-list:nth-child(2) {
        .link-social-list {
          background-image: url("../assets/svg/fb.svg");
        }
      }
      .item-social-list:nth-child(3) {
        .link-social-list {
          background-image: url("../assets/svg/tw.svg");
        }
      }
      .item-social-list:nth-child(4) {
        .link-social-list {
          background-image: url("../assets/svg/pinterest.svg");
        }
      }
    }
  }
}

/*Media */
@media screen and (max-width: 1400px) {
  .center {
    width: 90%;
  }
  .main .portfolio .container-imgs .item-portfolio {
    width: 50%;
    margin-bottom: 25px;
  }
  .main .portfolio .container-imgs {
    gap: 0;
    text-align: center;
  }
  .main .contacts {
    padding-right: 5%;
  }
  .main .video .video-player.center {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .main .price .cards-price {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main .price .cards-price .item-price {
    width: 54%;
  }
}
@media screen and (max-width: 1024px) {
  .main .skills .skills-container .item-skills {
    width: 39%;
  }
  .main .skills .skills-container .item-skills:nth-child(1),
  .main .skills .skills-container .item-skills:nth-child(2) {
    margin-bottom: 71px;
  }
  .main .portfolio .container-imgs .item-portfolio {
    width: 100%;
  }
  .main .portfolio .container-imgs .item-portfolio:nth-child(6) {
    margin-bottom: 0;
  }
  .main .contacts {
    padding: 0;
    justify-content: center;
  }
  .main .contacts .content-contacts .btn-contacts,
  .main .contacts .content-contacts .title-contacts {
    align-self: center;
  }
  .footer .content-footer {
    flex-direction: column;
    align-items: center;
  }
  .footer .content-footer .left-content-footer .link-github .item-link-github,
  .footer .content-footer .center-content-footer {
    line-height: 24px;
  }
  .footer .content-footer .left-content-footer {
    margin-bottom: 16px;
  }
  .footer .content-footer .center-content-footer {
    margin-bottom: 20px;
  }
  .footer .content-footer .social-list {
    padding: 9px 0;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --font2: 32px;
  }
  .center {
    width: 100%;
  }
  .hide {
    display: none !important;
  }
  .header {
    display: flex;
    background: url(../assets/img/bg2.jpg);
    background-position: center 0px;
    background-repeat: no-repeat;
  }
  .header-light-theme {
    background: url(../assets/img/bg2-lt.jpg);
  }
  .header .info-header .nav {
    display: none;
  }
  .header .info-header .logo {
    margin-left: 60px;
  }
  .header .info-header {
    justify-content: space-between;
  }
  .header .info-header .language {
    margin-left: auto;
    width: auto;
  }
  .header .info-header .language .ru {
    margin-left: 12px;
  }
  .header .info-header .switcher {
    margin-right: 19%;
  }

  .navbar {
    width: 620px;
    min-height: 100vh;
    z-index: 1;
    background-color: #000000;
    position: fixed;
    top: 0;
    right: -620px;
    display: flex;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  }
  .header-light-theme .info-header .navbar {
    background-color: #ffffff;
  }

  .change {
    right: 0;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    transition: 1s;
  }

  .hamburger-menu {
    width: 50px;
    height: 31px;
    top: 30px;
    right: 8.3%;
    position: fixed;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .hamburger-menu:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.8s;
  }
  .header-light-theme .info-header .navbar .hamburger-menu .line {
    background-color: #1c1c1c;
  }

  .change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
  }

  .change .line-2 {
    opacity: 0;
  }

  .change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
  }

  .header .info-header .navbar .nav-list {
    display: block;
    margin: 0px;
    margin-top: 19%;
    padding: 0;
    margin-left: 20.4%;
  }

  .nav-item {
    list-style: none;
    margin: 16px 0;
  }

  .nav-link {
    text-decoration: none;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 73px;
    color: var(--color-gold);
    position: relative;
    padding: 3px 0;
    transition: 1s;
  }
  .header .info-header .navbar .nav-list .nav-item .nav-link:hover {
    color: var(--color-gold);
  }
  .header-light-theme .info-header .navbar .nav-list .nav-item .nav-link {
    color: #1c1c1c;
  }
  .main .hero {
    background-image: url(../assets/img/bg2.jpg);
    height: 500px;
  }
  .main .hero-light-theme {
    background-image: url(../assets/img/bg2-lt.jpg);
    background-position: 0 -90px;
  }
  .main .hero .content-hero {
    width: fit-content;
    padding-top: 78px;
    padding-left: 60px;
  }
  .main .hero .content-hero .photographer {
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
  }
  .main .hero .content-hero .text-hero {
    line-height: 24px;
    width: 55%;
    margin: 20px 0 60px 0;
  }
  .main .portfolio .container-imgs {
    justify-content: center;
    margin-bottom: 78px;
  }
  .main .portfolio .container-imgs .item-portfolio {
    width: initial;
  }
  .main .portfolio .container-imgs .item-portfolio img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  .main .skills .title span {
    line-height: 40px;
  }
  .main .skills .title {
    width: 47.612%;
    margin-bottom: 66px;
  }
  .main .skills .title span:before,
  .main .portfolio .title span:before {
    margin-left: -106%;
  }
  .main .skills .title span:after,
  .main .portfolio .title span:after,
  .main .video .title span:after,
  .main .price .title span:after {
    margin-left: 6%;
  }
  .main .skills .skills-container .item-skills:nth-child(odd) {
    margin-left: 60px;
  }
  .main .skills .skills-container .item-skills:nth-child(even) {
    margin-right: 64px;
  }
  .main .skills .skills-container .item-skills .title-skills {
    margin-top: 80px;
  }
  .main .skills .skills-container .item-skills .description-skills {
    line-height: 22px;
    margin: 0 10px 4px 10px;
  }
  .main .skills .skills-container .item-skills:last-child .description-skills {
    margin: 0 15px;
  }
  .main .skills .skills-container {
    margin-bottom: 155px;
  }
  .main .portfolio .title,
  .main .video .title,
  .main .price .title {
    width: 47.612%;
    margin-bottom: 52px;
  }
  .main .portfolio .group-btn {
    width: 58%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .main .video .title span:before,
  .main .price .title span:before {
    margin-left: -105%;
  }
  .main .video .video-player .btn-play {
    width: 75px;
    height: 75px;
  }
  .main .video .video-player img {
    display: none;
  }
  .main .video .video-player {
    background-image: url(../assets/img/video-player1.jpg);
    background-repeat: no-repeat;
    height: 418px;
    margin-bottom: 78px;
  }
  .main .price .cards-price .item-price {
    width: 43.6%;
  }
  .main .price .cards-price {
    gap: 50px;
    margin-bottom: 80px;
  }
  .main .price .cards-price .item-price .btn-price {
    width: 220px;
  }
  .main .contacts {
    height: 600px;
    background-size: cover;
  }
  .main .contacts .content-contacts .title-contacts {
    line-height: 64px;
  }
  .footer {
    height: 190px;
  }
  .footer .content-footer .center-content-footer {
    margin-left: 0;
  }
  .footer
    .content-footer
    .left-content-footer
    .link-github
    .item-link-github:last-child {
    margin-right: 0;
  }
  .footer .content-footer .left-content-footer .link-github .item-link-github {
    margin-right: 26px;
  }
  .footer .content-footer .social-list {
    width: 24%;
    justify-content: end;
  }
}
@media screen and (max-width: 600px) {
  .center {
    width: 90%;
  }
  .header {
    background-position-x: right;
  }
  .header .info-header .logo {
    margin-left: 0;
  }
  .hamburger-menu {
    right: 5.3%;
    width: 40px;
  }
  .navbar {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header .info-header .navbar .nav-list {
    margin: 0;
  }
  .main .hero {
    text-align: center;
    background-position-x: right;
  }
  .main .hero .content-hero {
    padding-left: 0;
  }
  .main .hero .content-hero .text-hero {
    width: 90%;
    margin: 20px auto 60px auto;
  }
  .main .skills .skills-container .item-skills {
    width: 100%;
    margin: 0;
  }
  .main .skills .skills-container .item-skills:nth-child(odd),
  .main .skills .skills-container .item-skills:nth-child(even) {
    margin: 0;
    margin-bottom: 90px;
  }
  .main .skills .skills-container .item-skills .description-skills {
    width: 46.7%;
    margin: 0 auto;
  }
  .main .skills .skills-container .item-skills:last-child .description-skills {
    margin: 0 auto;
  }
  .main .skills .skills-container {
    margin-bottom: 65px;
  }
  .main .contacts .content-contacts {
    width: 74%;
  }
  .footer .content-footer .social-list {
    width: initial;
  }
  .main .price .cards-price .item-price {
    width: 100%;
  }
  .main .contacts {
    background-size: cover;
    background-position: -228px;
  }
  .main .portfolio .container-imgs .item-portfolio {
    height: auto;
  }
  .main .portfolio .title span {
    font-size: 24px;
    padding: 0;
  }
}
@media screen and (max-width: 425px) {
  .header .info-header .logo {
    width: 40px;
    height: 40px;
  }
  .header .info-header .language {
    font-size: 18px;
  }
  .main .skills .skills-container .item-skills .description-skills {
    width: 80%;
  }
  .main .video .video-player {
    background-size: cover;
    background-position: -100px;
  }
}
@media screen and (max-width: 375px) {
  .hamburger-menu {
    width: 30px;
  }
  .main .skills-light-theme .title span {
    font-size: 26px;
  }
}
@media screen and (max-width: 320px) {
  .main .portfolio .title span {
    padding: 0;
  }
}
