html {
  scroll-behavior: smooth;
}
h2 {
  margin: 0;
}
body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: 50px;
  color: #585b56;
  font-size: 2rem;
  margin: 0;
}
.wrapper {
  background-color: #f5f0ce;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.center {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  /* background-color: #1b2326; */
}
section {
  text-align: center;
}
.container-game {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}
.item {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  /* box-shadow: 0 0 0 1px #333333; */
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

footer {
  display: flex;
  align-items: center;
  height: 150px;
  background-color: #b49987;
  font-size: 1.5rem;
  color: #1b2326;
}
.content-footer {
  display: flex;
  justify-content: space-between;
}
.link-github {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.link-github-footer {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: inherit;
}
.item-link-github {
  margin-right: 20px;
}
.link-github-footer:hover .item-link-github {
  color: #6a2202;
}
.center-content-footer img {
  max-height: 50px;
  height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
